<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jquery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- JavaScript  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('.static', filename='kitchenStyle.css') }}" >
    <title>Meal Ordering</title>

</head>
<body class="backgroundSetting">
        <div class="container container-class">
            <div class= "center-wrapper">
                <div class= "wrap">
                    <div class="header-conteiner">
                        <div class="logo-img">
                            <img src="landing-logo.png" style="width:100px">
                        </div>
                        <div class="Kitchen-Registration">
                            <font face="Rozha One" color="white"><h1>Forgot Password</h1></font>
                        </div>
                    </div>
                    <div class="header-conteiner">
                        <div class="logo-img">
                            <img src="MailIcon.png" style="width:50px">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-class" id="email" style="height:51px; width:390" placeholder="Email" required>
                        </div>
                    </div> 
                    <div class="col-4 register-btn" style="margin-left: 33%">
                        <button type="button" class="button regbtn" value="submit" onclick="registerKitchen();">Submit</button>
                    </div>
                </div>
            </div>
        </div><!--  container container-class -->

</body>

</html>
