{% extends "main.html" %} {% block content %}

<script src="{{ url_for('.static', filename='script.js') }}"></script>
<!-- References scripts for web interaction -->
<script src="{{ url_for('.static', filename='addMeal.js') }}"></script>
<script src="{{ url_for('.static', filename='editMeal.js') }}"></script>
<script src="{{ url_for('.static', filename='updateMeal.js') }}"></script>
<script src="{{url_for('.static', filename='deleteMeal.js') }}"></script>
<script src="{{url_for('.static', filename='favMeal.js') }}"></script>

<link href="{{ url_for('.static', filename='style.css') }}" rel="stylesheet" />
<!-- References style sheet -->


<script>
    function previewFile() {
        var preview = document.querySelector('.img-bg'); //selects the query named img
        var file = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader = new FileReader();

        reader.onloadend = function() {
            preview.src = reader.result;
        }
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "Upload Photo";
        }
    }
    previewFile();
</script>

<div id="report" class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMeal">
        <!-- Post Meal Button -->
        Add Meal
    </button>


    <br><br>
    <h4>Today's Meal:</h4>
    <!--<div class="card-deck">-->
    <div class="row">
        {% for meal in todaysMeals %}
        <!-- % beginning of JS logic -->
        <div class="col-md-4" style="padding-bottom: 2rem;">
            <div class="card" style="max-width: 20rem;">
                <p>{{meal.meal_id.S}}</p>
                <img src={{meal.photo.S}} class="card-img-top" style="max-width: 20rem; height: 12rem;">

                <div class="card-body" style="max-width: 20rem; height: 10rem;">
                    <!-- Contains card info -->
                    <div class="form-row">
                        <h5 class="card-title">{{meal.meal_name.S}}</h5>
                    </div>
                    <div class="form-row">
                        <p class="card-text">{{meal.description.S}}</p>
                    </div>
                    <div class="form-row">
                        <p class="card-text">Cost ${{meal.price.S}}</p>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" id="edit-meal-btn" data-meal_id="{{meal.meal_id.S}}" data-meal_name="{{meal.meal_name.S}}" data-meal_photo="{{meal.photo.S}}" data-meal_price="{{meal.price.S}}" data-meal_description="{{meal.description.S}}"
                        data-target="#editMeal">
                        <!-- Edit Button Where is the onclock-->
                        Edit Meal
                    </button>

                    <button type="button" class="btn btn-primary" onclick="deleteMeal('{{meal.meal_id.S}}');" id="delete-meal-btn" data-meal_id="{{meal.meal_id.S}}">Delete</button>
                    <button type="button" class="btn btn-primary" onclick="favMeal();" id="fav-meal-btn" data-meal_id="{{meal.meal_id.S}}">Fav</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--</div>-->


    <div class="modal fade" id="addMeal" tabindex="-1" role="dialog" aria-labelledby="addMealLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="form-bg">
                <form class="add_meal_form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addMealLabel">Post Meal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                            <img class="img-bg" src="" width="299" height="194">
                                        </div>
                                    </div>
                                    <div class="row add-meal-img-btn">

                                        <div class="file btn btn-lg btn-primary">
                                            Add photo
                                            <input type="file" name="photo" id="add_meal_image" onchange="previewFile()" /><br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col name-of-meal">
                            <i><input type="text" class="form-control form-control-class" id="add_meal_mealname"
                                    placeholder="Name of the meal"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <table class="add-table" id="option-setup">

                            <tr>
                                <td>
                                    <span><strong><i>Items in this meal</i></strong></span>
                                </td>
                                <td>
                                    <span>
                                    <select id="option-items">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="padding-left: 30%"><strong><i>Item name</i></strong></span>
                                </td>
                                <td>
                                    <span><strong><i>Item Quantity</i></strong></span>
                                </td>
                            </tr>
                            <br>
                            <tr id="option-item1">
                                <td>
                                    <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="add_meal_option1_name" maxlength="15">
                                </td>
                                <td>
                                    <span style="padding-left:30%">
                                    <select id="add_meal_option1_qty">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </span>
                                </td>
                            </tr>
                            <tr id="option-item2">

                                <td>
                                    <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="add_meal_option2_name" maxlength="15">
                                </td>
                                <td>
                                    <span style="padding-left:30%">
                                    <select id="add_meal_option2_qty">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    </span>
                                </td>
                            </tr>
                            <tr id="option-item3">

                                <td>
                                    <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="add_meal_option3_name" maxlength="15">
                                </td>
                                <td>
                                    <span style="padding-left:30%">
                                    <select id="add_meal_option3_qty">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    </span>
                                </td>
                            </tr>
                            <tr id="option-item4">

                                <td>
                                    <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="add_meal_option4_name" maxlength="15">
                                </td>
                                <td>
                                    <span style="padding-left:30%">
                                    <select id="add_meal_option4_qty">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    </span>
                                </td>
                            </tr>
                            <tr id="option-item5">

                                <td>
                                    <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="add_meal_option5_name" maxlength="15">
                                </td>
                                <td>
                                    <span style="padding-left:30%">
                                    <select id="add_meal_option5_qty">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-row">
                        <div class="row meal-container">
                            <div class="col-md" id="meal-id">
                                <strong><i>Meal Price</i></strong>
                            </div>
                            <div class="col-md">
                                <input type="number" name="price" class="form-control form-control-class" id="add_meal_price">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button value="submit" onclick="postMeal();" class="btn btn-primary post-meal-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editMeal" tabindex="-1" role="dialog" aria-labelledby="editMealLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="form-bg">
                <form class="edit_meal_form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editMealLabel">Edit Meal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="form-row">
                                <div class="edit-img-meal">
                                    <img class="img-fluid img-thumbnail rounded" id="edit_img_preview" />
                                    <div class="file btn btn-lg btn-primary">
                                        Change Meal Photo
                                        <input type="file" name="photo" id="edit_meal_image" onclick="uploadButton(this)" onchange="uploadNewPhoto(this.files)" accept="image/png, image/jpeg" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col name-of-meal">
                                    <i><input type="text" class="form-control form-control-class" id="edit_meal_mealname"
                                                placeholder="Name of the meal"></i>
                                </div>
                            </div>
                            <!-- <div class="form-row">
                                <input type="text" name="name" placeholder="Meal Name" id="edit_meal_mealname" />
                            </div> -->

                            <div class="form-row">
                                <table id="edit-option-setup">

                                    <tr>
                                        <td>
                                            <span><strong><i>Items in this meal</i></strong></span>
                                        </td>
                                        <td>
                                            <select id="edit-option-items">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            <span style="padding-left: 30%"><strong><i>Item name</i></strong></span>
                                        </td>
                                        <td>
                                            <span><strong><i>Item Quantity</i></strong></span>
                                        </td>
                                    </tr>
                                    <tr id="edit-option-item1">

                                        <td>
                                            <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="edit_meal_option1_name" maxlength="15">
                                        </td>
                                        <td>
                                            <span style="padding-left:30%">
                                            <select id="edit_meal_option1_qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        </span>
                                        </td>
                                    </tr>
                                    <tr id="edit-option-item2">

                                        <td>
                                            <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="edit_meal_option2_name" maxlength="15">
                                        </td>
                                        <td>
                                            <span style="padding-left:30%">
                                            <select id="edit_meal_option2_qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        </span>
                                        </td>
                                    </tr>
                                    <tr id="edit-option-item3">

                                        <td>
                                            <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="edit_meal_option3_name" maxlength="15">
                                        </td>
                                        <td>
                                            <span style="padding-left:30%">
                                            <select id="edit_meal_option3_qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        </span>
                                        </td>
                                    </tr>
                                    <tr id="edit-option-item4">

                                        <td>
                                            <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="edit_meal_option4_name" maxlength="15">
                                        </td>
                                        <td>
                                            <span style="padding-left:30%">
                                            <select id="edit_meal_option4_qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        </span>
                                        </td>
                                    </tr>
                                    <tr id="edit-option-item5">

                                        <td>
                                            <input type="text" class="form-control form-control-class" placeholder="(15 characters limit)" id="edit_meal_option5_name" maxlength="15">
                                        </td>
                                        <td>
                                            <span style="padding-left:30%">
                                            <select id="edit_meal_option5_qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="form-row">
                                <div class="row">
                                    <div class="col-md" id="meal-id">
                                        <strong><i>Meal Price</i></strong>
                                    </div>
                                    <div class="col-md">
                                        <input type="number" name="price" class="form-control form-control-class" id="edit_meal_price">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Meal Cost $</span>
                                    </div>
                                    <input type="number" name="price" class="form-control" id="edit_meal_price">
                                </div> -->

                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button value="submit" onclick="updateMeal();" class="btn btn-primary post-meal-btn">Update Meal</button>
                        <!-- update button, calls update meal javascript -->
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}