<!DOCTYPE html>
<html>
<head>
	<title>Order Report</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="ordermeal.js"></script>
</head>
<body>

{% extends "main.html" %}

{% block content %}

<script src="ordermeal.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='reportStyle.css' )}}">

<br>
<br>
<!-- <p> Today's Meal: </p>
{% for meal in mealsToCook %}
	<div class="meal-img">
		<img src="{{ meal.photo.S }}">
	</div>
	<div class="meal-name">
		{{ meal.meal_name.S }}
	</div>
	<div class="meal-description">
		{{ meal.description.S }}
	</div>
{% endfor %} -->
<!-- <div id="inventory">
	<h4><i>Inventory Report</i></h4>
	<strong><p id="num_orders"></p></strong>
	{% for meal in mealsToCook %}
		<p>{{ meal.meal_name.S }}: {{ meal.qty}}</p>
	{% endfor %}
</div> -->

<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3>Delivery Report</h3>
      {% if not orders %}
        <h5>You currently have no orders placed.</h5>
      {% endif %}
      {% for order in orders %}
        {% set outer_loop = loop %}
        <div class="border border-light p-2">
          <h5 id="name">{{ order.name.S }}</h5>
          <div id="address_street">{{ order.street.S }}</div>
          <div id="address_city_state_zip">{{ order.city.S }}, {{ order.state.S }} {{ order.zipCode.N }}</div>
          <div id="phone_number">{{ order.phone.S }}</div>
          <button class="btn btn-outline-primary btn-sm" type=x"button" data-toggle="collapse" data-target="#collapseExample{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">
            Orders
          </button>
          <div class="order-details">
            {% for item in order.order_items.L %}
              {% if item.M.meal_name %}
              <div class="collapse" id="collapseExample{{outer_loop.index}}">
                <p>{{ item.M.meal_name.S }}: {{ item.M.qty.N }}</p>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-md-4">
      <div class="content-section">
        <h3>Current Statistics</h3>
        <p class='text-muted'>You can put any information here you'd like.
        </p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
<!--
</body>
</html>
